{% extends './layout.html' %}
{% block title %} 添加图书 {% endblock %}
{% block styles %}
<link rel="stylesheet" href="/styles/add.css">
{% endblock %}
{% block content %}
<div id="app">
  <p>{{ message }}</p>
  <button id="test">点我</button>
</div>
{% endblock %}
{% block scripts %}
<script src="https://cdn.bootcss.com/systemjs/6.3.0/system.min.js"></script>
<script src="/scripts/helper.js"></script>
<script>
  System.import('/scripts/add-bundle.js').then(_ => {
    const create = new _.default
    create.fn()
  })
</script>
{% endblock %}
